%h1 Welcome to salarty
%p 
  Total overtime hours:
  =@overtime_hours
%p 
  Total working hours:
  =@normal_hours + @overtime_hours
%p
  = "Money earned #{Date::MONTHNAMES[Time.now.month]} :"
  = "£#{@normal_hours * current_user.normal_rate + @overtime_hours * current_user.over_time_rate}"
  
= link_to "New entry", new_entry_path



#entries
  - @entries.each do |entry|
    = render entry
    .flex.align-c.gap-20
      = link_to "Show", entry, :class => "btn btn-green btn-normal"
      = button_to "Destroy this entry", entry, :method => :delete, :confirm => "Are you sure?", :class => "color-red text-white "


