= form_with(model:balance) do |form|
  - if balance.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(balance.errors.count, "error")
        prohibited this balance from being saved:
      %ul
        - balance.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :amount, style: "display: block"
    = form.number_field :amount , step: 0.5
  %div
    = form.submit